<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Free Web tutorials">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="John Doe">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Title</title>
    <link rel="stylesheet" href="/css/w3.css"/>
</head>
<body>
<header>
    <h2>NATIONAL HOSPITAL</h2>
    <div >
        <img <img src="decool.jpg"  style="width:20px;height:20px;"/>
        logged in
        <div><a href="/">Log Out</a> </div>
    </div>
</header>
<header>
    <h2>SLIDE</h2>
</header>
<section>
    <nav>
        <ul>
            <li><a href="#">MED RECORDS</a></li>
            <li><a href="#">PHYSICIAN</a></li>
            <li><a href="#">BUSARY</a></li>
            <li><a href="/centralpageforadmin">ADMIN</a></li>
        </ul>
    </nav>

    <article>
        <h4>NATIONAL HOSP</h4>
        <p>
            THIS HOSP IS SO GREAT
        </p>
        <p>
            I LOVE THIS HOSP
        </p>
    </article>
    <aside>
        <div>kdkd</div>
        <a href="/hospofficialsite">visit hosp official site</a>
    </aside>
</section>

<footer>
    <p>Footer</p>
</footer>

</body>
</html>